spring:
  datasource:
    url: jdbc:postgresql://43.134.166.185:5432/scheduler
    driverClassName: org.postgresql.Driver
    username: postgres
    password: Wasd2333
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 300000
      connection-timeout: 20000
      validation-timeout: 5000
      keepalive-time: 300000 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: common
        credential:
          client-id: f3ee6226-fd8b-4cae-a9e7-f3c211b0970b
          client-secret:
